<div class="min-h-screen max-h-screen flex flex-row">
<.sidebar content_types={@content_types} current_type={@content_type} />
  <main class=" flex-1 min-h-full max-h-full overflow-scroll bg-slate-50 p-8">
  <.flash_group flash={@flash} ./>

  <%= @inner_content %>
</main>
</div>
