<div class="drawer drawer-mobile">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" checked />
    <main class="drawer-content p-6">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
    </main>
    <.sidebar {assigns} />
</div>
