<div class="flex flex-row-reverse">
  <main class="h-screen grow overflow-y-auto bg-zinc-100">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>

  <.sidebar {assigns}>
    <.project_sidebar {assigns} />
  </.sidebar>
</div>
