<div class="grid h-screen px-4 -m-6 bg-base-100 place-content-center">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-9xl">404</h1>

    <p class="text-2xl font-bold tracking-tight text-base-content sm:text-4xl">
      Something is missing!
    </p>

    <p class="mt-4 text-base-content">
      Try searching again, or return home to start from the beginning.
    </p>

    <a href={~p"/p"} class="btn btn-md btn-primary mt-6">
      Go Back Home
    </a>
  </div>
</div>
