<div class="bg-base-100 -m-6 grid h-screen place-content-center px-4">
  <div class="text-center">
    <h1 class="text-9xl font-black text-gray-200">404</h1>

    <p class="text-base-content text-2xl font-bold tracking-tight sm:text-4xl">
      Something is missing!
    </p>

    <p class="text-base-content mt-4">
      Try searching again, or return home to start from the beginning.
    </p>

    <a href={~p"/p"} class="btn btn-md btn-primary mt-6">
      Go Back Home
    </a>
  </div>
</div>
