<div class="px-4">
    <ul class="menu text-sm font-medium">
        <li>
            <.link navigate={~p"/p"}>
                <Heroicons.puzzle_piece class="h-5 w-5" stroke="currentColor" />
                <span>Projects</span>
            </.link>
        </li>
    </ul>
</div>
